.input {
	border-radius: 1rem;
    border: none;
    background-color: #ecedf1;
    padding: 0.3rem 0.6rem;
    transition: all 0.5s ease-in-out;
	outline: none;
	width: 120px;

	&:focus{
		width: 200px!important;
	}
	&::placeholder {
        color: rgba(51, 51, 51, 0.4);
        font-size: 0.8rem;
    }
}