<nav class="navbar">
	<div class="d-flex">
		<a class="align-self-center">
			<img class="d-block" src="https://ohman.vn/img/logos/ohman-logo.png" alt="Logo" height="30">
		</a>

		<ul class="nav-items">
			<li class="nav-item ">
				<a class="nav-link" href="https://ohman.vn">
					<svg xmlns="http://www.w3.org/2000/svg" width="22" height="21">
						<path fill="#333333" fill-rule="evenodd"
							d="M20.535 9.561l-.001-.002-8.208-8.21c-.35-.35-.815-.542-1.31-.542-.495 0-.96.192-1.31.542L1.503 9.555l-.009.008c-.718.723-.717 1.896.004 2.616.329.33.764.521 1.229.541l.057.003h.327v6.041c0 1.196.973 2.168 2.168 2.168H8.49c.326 0 .59-.264.59-.588v-4.737c0-.546.444-.991.989-.991h1.894c.545 0 .989.445.989.991v4.737c0 .324.264.588.59.588h3.211c1.195 0 2.168-.972 2.168-2.168v-6.041h.303c.495 0 .96-.193 1.31-.544.721-.721.722-1.896.001-2.618zm-.835 1.785c-.127.128-.296.197-.476.197h-.893c-.325 0-.589.264-.589.59v6.631c0 .545-.444.989-.989.989h-2.622v-4.146c0-1.196-.973-2.17-2.168-2.17h-1.894c-1.196 0-2.168.974-2.168 2.17v4.146H5.279c-.545 0-.989-.444-.989-.989v-6.631c0-.326-.264-.59-.59-.59h-.877l-.028-.001c-.175-.003-.34-.072-.463-.196-.263-.263-.263-.69 0-.953v-.001l8.208-8.208c.127-.128.296-.198.476-.198s.349.07.476.198l8.206 8.207.004.003c.261.263.26.69-.002.952z">
						</path>
						<path fill="none" fill-rule="evenodd"
							d="M20.535 9.561l-.001-.002-8.208-8.21c-.35-.35-.815-.542-1.31-.542-.495 0-.96.192-1.31.542L1.503 9.555l-.009.008c-.718.723-.717 1.896.004 2.616.329.33.764.521 1.229.541l.057.003h.327v6.041c0 1.196.973 2.168 2.168 2.168H8.49c.326 0 .59-.264.59-.588v-4.737c0-.546.444-.991.989-.991h1.894c.545 0 .989.445.989.991v4.737c0 .324.264.588.59.588h3.211c1.195 0 2.168-.972 2.168-2.168v-6.041h.303c.495 0 .96-.193 1.31-.544.721-.721.722-1.896.001-2.618z">
						</path>
					</svg>
					Trang chủ
				</a>
			</li>

			<li class="nav-item active">
				<a class="nav-link " href=" https://ohman.vn/cau-hoi">
					<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21">
						<path fill="#333" fill-rule="evenodd"
							d="M20.221 9.784c-.391.77-.952 1.457-1.623 2.001v2.462c0 .169-.106.326-.263.39-.051.026-.106.034-.161.034-.111 0-.221-.042-.302-.124l-1.588-1.589c-.344.09-.697.138-1.053.167v3.029c0 1.641-1.334 2.974-2.973 2.974H8.096v1.445c0 .17-.106.328-.263.391-.051.026-.106.034-.161.034-.111 0-.221-.042-.302-.123l-1.745-1.747H3.081c-1.639 0-2.973-1.333-2.973-2.974V9.61c0-1.64 1.334-2.974 2.973-2.974h4.426C7.692 3.396 10.36.809 13.643.809h1.074c3.402 0 6.17 2.771 6.175 6.17 0 .991-.225 1.934-.671 2.805zM3.081 7.485c-1.172 0-2.123.952-2.123 2.125v6.544c0 1.173.951 2.125 2.123 2.125h2.756c.174 0 .327.106.391.254l1.015 1.016v-.846c0-.233.191-.424.424-.424h4.587c1.172 0 2.123-.952 2.123-2.125v-2.996h-.734c-3.231 0-5.86-2.507-6.12-5.673H3.081zM14.717 1.66h-1.074c-2.935 0-5.326 2.388-5.326 5.324s2.387 5.324 5.321 5.324h1.075c.535 0 1.061-.076 1.567-.233.038-.014.08-.017.123-.017.11 0 .221.042.301.123l1.041 1.041v-1.64c0-.136.064-.259.17-.341 1.35-1.019 2.123-2.571 2.123-4.257 0-2.936-2.387-5.324-5.321-5.324zm0 5.677v.985c0 .234-.191.425-.425.425-.233 0-.425-.191-.425-.425V7.303c0-.379.26-.701.633-.786.463-.102.773-.523.739-.994-.034-.472-.412-.846-.879-.88-.263-.022-.518.067-.713.251-.196.177-.302.424-.302.692 0 .234-.191.425-.425.425-.233 0-.424-.191-.424-.425 0-.498.212-.977.573-1.318.37-.344.85-.513 1.355-.479.892.063 1.609.781 1.669 1.669.059.885-.514 1.666-1.376 1.879zm-.42 2.239c.114 0 .22.042.301.124.081.08.123.191.123.301 0 .115-.042.221-.123.302-.081.076-.187.123-.301.123-.115 0-.221-.042-.302-.123-.076-.081-.123-.192-.123-.302 0-.115.042-.221.123-.301.081-.077.187-.124.302-.124zm-6.978 3.689H2.826c-.233 0-.424-.191-.424-.425 0-.235.191-.426.424-.426h4.493c.234 0 .425.191.425.426 0 .234-.191.425-.425.425zm0-2.38H2.826c-.233 0-.424-.191-.424-.425 0-.233.191-.426.424-.426h4.493c.234 0 .425.193.425.426 0 .234-.191.425-.425.425zm-4.493 3.909h7.292c.233 0 .424.191.424.425 0 .233-.191.426-.424.426H2.826c-.233 0-.424-.193-.424-.426 0-.234.191-.425.424-.425zm8.961 0c.114 0 .221.043.301.123.077.082.123.191.123.302 0 .115-.042.221-.123.301-.08.077-.187.125-.301.125-.115 0-.221-.043-.302-.125-.076-.08-.123-.186-.123-.301 0-.115.042-.22.123-.302.081-.077.187-.123.302-.123z">
						</path>
					</svg>
					Hỏi đáp
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link " href=" https://ohman.vn/cong-dong">
					<svg xmlns="http://www.w3.org/2000/svg" width="33" height="22">
						<path fill="#333" fill-rule="evenodd"
							d="M28.199 9.776c.939-.66 1.561-1.759 1.561-2.998 0-2.025-1.637-3.664-3.661-3.664s-3.661 1.639-3.661 3.664c0 1.239.616 2.338 1.561 2.998-.806.28-1.542.712-2.163 1.271-.857-.73-1.866-1.29-2.97-1.62 1.339-.813 2.24-2.293 2.24-3.976 0-2.566-2.075-4.643-4.638-4.643-2.563 0-4.638 2.083-4.638 4.643 0 1.683.895 3.163 2.24 3.976-1.091.33-2.087.882-2.937 1.6-.622-.546-1.345-.971-2.139-1.245.939-.66 1.561-1.759 1.561-2.997 0-2.026-1.637-3.665-3.661-3.665-2.023 0-3.66 1.639-3.66 3.665 0 1.238.615 2.337 1.561 2.997-2.519.87-4.327 3.265-4.327 6.079v.419c0 .013.012.025.025.025h7.759c-.044.349-.07.712-.07 1.073v.432c0 1.868 1.51 3.379 3.376 3.379h9.833c1.866 0 3.375-1.511 3.375-3.379v-.432c0-.361-.025-.724-.069-1.073h7.81c.012 0 .025-.012.025-.025v-.419c-.013-2.82-1.815-5.215-4.333-6.085zm-4.746-3.004c0-1.461 1.187-2.648 2.646-2.648 1.459 0 2.645 1.187 2.645 2.648 0 1.442-1.161 2.617-2.594 2.649h-.102c-1.44-.025-2.595-1.201-2.595-2.649zm-10.62-1.321c0-2 1.624-3.627 3.622-3.627 1.999 0 3.623 1.627 3.623 3.627 0 1.931-1.516 3.513-3.413 3.621h-.419c-1.897-.108-3.413-1.69-3.413-3.621zM4.23 6.772c0-1.461 1.186-2.648 2.646-2.648 1.459 0 2.645 1.187 2.645 2.648 0 1.442-1.161 2.617-2.595 2.649h-.101C5.391 9.396 4.23 8.22 4.23 6.772zm4.2 8.511H1.496c.285-2.706 2.569-4.826 5.342-4.846h.076c1.319.006 2.525.495 3.457 1.289-.913.991-1.592 2.21-1.941 3.557zm15.309 2.527c0 1.302-1.06 2.363-2.36 2.363h-9.834c-1.301 0-2.36-1.061-2.36-2.363v-.432c0-3.943 3.147-7.17 7.061-7.284.07.006.146.006.216.006s.146 0 .215-.006c3.915.114 7.062 3.341 7.062 7.284v.432zm.755-2.527c-.349-1.341-1.015-2.54-1.923-3.532.939-.813 2.157-1.302 3.49-1.314h.076c2.772.02 5.056 2.14 5.342 4.846h-6.985z">
						</path>
					</svg>
					Cộng đồng
				</a>
			</li>



			<li class="nav-item">
				<div id="desktop-search" class="dropdown show">
					<svg class="" viewBox="0 0 36 37" xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="vertical-align: middle;">
						<path fill="#3a3a3a" fill-rule="evenodd"
							d="M35.389 35.882c-.282.282-.652.423-1.022.423s-.74-.141-1.022-.423l-7.436-7.436c-2.714 2.257-6.2 3.619-9.998 3.619-8.636 0-15.662-7.026-15.662-15.663C.249 7.766 7.275.74 15.911.74c8.636 0 15.661 7.026 15.661 15.662 0 3.799-1.361 7.285-3.619 9.999l7.436 7.437c.565.564.565 1.48 0 2.044zM15.911 3.632c-7.042 0-12.77 5.729-12.77 12.77 0 7.042 5.728 12.771 12.77 12.771 7.041 0 12.77-5.729 12.77-12.771 0-7.041-5.729-12.77-12.77-12.77z">
						</path>
					</svg>
					<input-text placeholder="Tìm kiếm"></input-text>

					<!-- <div id="search-dropdown" class="dropdown-menu px-2" aria-labelledby="dropdownMenuLink"
						style="width: 300px;">
					</div> -->
				</div>
			</li>

		</ul>
	</div>
	<div class="d-flex align-items-center">


		<a class="btn btn-outline-red " href="https://ohman.vn/dang-nhap">
			<strong>Đặt câu hỏi</strong>
		</a>
		<a class="ml-3" href="https://ohman.vn/dang-nhap">
			<img src="https://ohman.vn/img/icons/avatar@3x.png" alt="" srcset="" class="d-block" width="40">
		</a>


	</div>
</nav>