.navbar {
  display: flex;
  justify-content: space-between;
  box-shadow: -3px 3px 5px -4px rgba(0, 0, 0, 0.2);
  padding: 0 1rem;
  background-color: white;

  .nav-items {
    display: flex;
    list-style: none;

    .nav-item {
      padding: 0.2rem 0.6rem;
      border-bottom: 1px solid transparent;
      line-height: 2rem;

      :hover {
        color: var(--mainRed);
      }

      &.active {
        border-bottom: 1px solid red;
      }

      a {
        svg {
          vertical-align: sub;
        }
      }
    }
  }
}
