<app-header></app-header>
<div class="d-flex container">
	<div class="sidebar-left">
		<ul class="list-unstyled">
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.hong-tin-hot">
					<img src="https://ohman.vn/storage//categories/100-hong-tin-hot@2x.png" alt="" width="20">
					<small>Hóng tin
						hot</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.ngoi-sao-nao-sang">
					<img src="https://ohman.vn/storage//categories/300-ngoi-sao-nao-sang@2x.png" alt="" width="20">
					<small>Ngôi
						sao nào sáng</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.thich-thi-nhich">
					<img src="https://ohman.vn/storage//categories/2300-thich-thi-nhich@2x.png" alt="" width="20">
					<small>Thích
						thì nhích</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.vu-tru-nghe-nhin">
					<img src="https://ohman.vn/storage//categories/1400-vu-tru-nghe-nhin@2x.png" alt="" width="20">
					<small>Vũ
						trụ nghe nhìn</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.dep">
					<img src="https://ohman.vn/storage//categories/400-lam-sao-cho-dep@2x.png" alt="" width="20">
					<small>Đẹp</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.zone-18">
					<img src="https://ohman.vn/storage//categories/1500-zone-18@2x.png" alt="" width="20"> <small>Zone
						18</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.yeu">
					<img src="https://ohman.vn/storage//categories/800-yeu@2x.png" alt="" width="20"> <small>Yêu</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.ngam">
					<img src="https://ohman.vn/storage//categories/2600-song-sao-moi-chuan@2x.png" alt="" width="20">
					<small>Ngẫm</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.ao-sao-cho-that">
					<img src="https://ohman.vn/storage//categories/1700-ao-sao-cho-that@2x.png" alt="" width="20">
					<small>'Ảo'
						sao cho thật</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.hieu-thau-tam-tu">
					<img src="https://ohman.vn/storage//categories/500-hieu-thau-tam-tu@2x.png" alt="" width="20">
					<small>Hiểu
						thấu tâm tư</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.cau-vong-luc-sac">
					<img src="https://ohman.vn/storage//categories/2900-cau-vong-luc-sac@2x.png" alt="" width="20">
					<small>Cầu
						vồng lục sắc</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.team-xe-dich">
					<img src="https://ohman.vn/storage//categories/900-team-xe-dich@2x.png" alt="" width="20">
					<small>Team xê
						dịch</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.ke-sinh-nhai">
					<img src="https://ohman.vn/storage//categories/2200-viec-lam@2x.png" alt="" width="20"> <small>Kế
						sinh
						nhai</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.noi-an-chon-o">
					<img src="https://ohman.vn/storage//categories/2500-noi-an-chon-o@2x.png" alt="" width="20">
					<small>Nơi ăn
						chốn ở</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.cuoc-song-xa-nha">
					<img src="https://ohman.vn/storage//categories/2800-cuoc-song-xa-nha@2x.png" alt="" width="20">
					<small>Cuộc
						sống xa nhà</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.chu-va-nghia">
					<img src="https://ohman.vn/storage//categories/1800-chu-va-nghia@2x.png" alt="" width="20">
					<small>Chữ và
						Nghĩa</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.ngay-nay-nam-xua">
					<img src="https://ohman.vn/storage//categories/200-ngay-nay-nam-xua@2x.png" alt="" width="20">
					<small>Ngày
						này năm xưa</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.dieu-hay-moi-ngay">
					<img src="https://ohman.vn/storage//categories/1600-moi-ngay-mot-dieu-hay@2x.png" alt="" width="20">
					<small>Điều hay mỗi ngày</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.thich-thu">
					<img src="https://ohman.vn/storage//categories/2000-thich-thu@2x.png" alt="" width="20">
					<small>Thích
						thú</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.hieu-sach">
					<img src="https://ohman.vn/storage//categories/1300-hieu-sach@2x.png" alt="" width="20"> <small>Hiệu
						sách</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.du-duong-an-choi">
					<img src="https://ohman.vn/storage//categories/1100-quay-dau-cho-vui@2x.png" alt="" width="20">
					<small>Đủ
						đường ăn chơi</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.doi-thi-vao-day">
					<img src="https://ohman.vn/storage//categories/2700-doi-thi-vao-day@2x.png" alt="" width="20">
					<small>Đói
						thì vào đây</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.nguoi-tai-gioi">
					<img src="https://ohman.vn/storage//categories/1900-nguoi-tai-gioi@2x.png" alt="" width="20">
					<small>Người
						tài giỏi</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.co-suc-khoe-la-co-tat-ca">
					<img src="https://ohman.vn/storage//categories/2400-co-suc-khoe-la-co-tat-ca@2x.png" alt=""
						width="20">
					<small>Có sức khỏe là có tất cả</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.o-game">
					<img src="https://ohman.vn/storage//categories/1000-o-game@2x.png" alt="" width="20"> <small>Ổ
						game</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.cong-nghe">
					<img src="https://ohman.vn/storage//categories/1200-cong-nghe@2x.png" alt="" width="20"> <small>Công
						nghệ</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.the-thao">
					<img src="https://ohman.vn/storage//categories/700-the-thao@2x.png" alt="" width="20"> <small>Thể
						thao</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.quiz-vui-giai-tri">
					<img src="https://ohman.vn/storage//categories/2100-quiz-vui-giai-tri@2x.png" alt="" width="20">
					<small>Quiz
						vui giải trí</small>
				</a>
			</li>
			<li class="py-2 font-size-15">
				<a href="https://ohman.vn/danh-muc.ta-pi-lu">
					<img src="https://ohman.vn/storage//categories/600-ta-pi-lu@2x.png" alt="" width="20"> <small>Tả pí
						lù</small>
				</a>
			</li>
		</ul>
	</div>
	<div class="main-content">
		<router-outlet></router-outlet>
	</div>
	<div class="sidebar-right">
		right
	</div>
</div>

<app-footer></app-footer>