/* You can add global styles to this file, and also import other style files */

:root 
{
--mainRed: #ed1c24; // or any global you wish to share with components 
--gray: #f3f4f6;
}
body{
	margin: 0;
	background-color: var(--gray);
}
ul{
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit; 
}

.container{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	box-sizing: border-box;
}
.d-flex {
	display: flex;
}
.d-block {
	display: block;
}

.align-items-center{
	align-items: center;
}
.justify-content-around{
	justify-content: space-around;
}
.justify-content-evenly{
	justify-content: space-evenly;
}
.justify-content-between{
	justify-content: space-between;
}
.align-self-center{
	align-self: center;
}
.w-100 {
	width: 100%;
}